#/bin/bash

### Base-Calling Profile ###
# Using Soap2
./soap2.22 -a ./testA/testA_1.fq.gz -b ./testA/testA_2.fq.gz -D ./ref/human.fa.index -o ./soap/testA.soap -2 ./soap/testA.single -p 6 -t -s 40 -l 32 -m 600 -x 720 -v 5 -g 0 2>./soap/testA.log

./baseCalling_Matrix_calculator -r ./ref/human.fa -l 91 -o BCpftestAsoap -b ./soap/testA.soap

# Or Using BWA
./bwa aln -I -t 4 ./bwaref/human.fa ./testA/testA_1.fq.gz > ./sam/testA_2_1.sai 2>> ./sam/testA_sai_1.log
./bwa aln -I -t 4 ./bwaref/human.fa ./testA/testA_2.fq.gz > ./sam/testA_2_2.sai 2>> ./sam/testA_sai_2.log
./bwa sampe -a 1000 ./bwaref/human.fa ./sam/testA_2_1.sai ./sam/testA_2_2.sai ./testA/testA_1.fq.gz ./testA/testA_2.fq.gz >./sam/testA.sam 2>./sam/testA.sam.log

# ./baseCalling_Matrix_calculator -r ./ref/human.fa -l 91 -o BCpftestAbwa -b ./sam/testA.sam
./baseCalling_Matrix_calculator -b -r ./ref/human.fa -i bam/GA0230.sort.bam -s vcf/GA0230.SNPs.filter.vcf -o matrix/GA0230 2>matrix/GA0230.matrix.err


### GC%-Depth Profile ###
# Using Soap2 result
./soap.coverage -cvg -onlyuniq -i ./soap/testA_2.soap ./soap/testA_2.single -refsingle ./ref/human.fa -o testA_soap.dresult -depthsingle testA_soap.depth > testA_soap.deplog 2>testA_soap.deperr

./gc_coverage_bias -r ./ref/human.fa -o testA_soap -w 100,150,200 testA_soap.depth

# Or Using BWA result
./soap.coverage -sam -cvg -onlyuniq -i ./soap/testA_2.soap ./soap/testA_2.single -refsingle ./ref/human.fa -o testA_soap.dresult -depthsingle testA_soap.depth > testA_soap.deplog 2>testA_soap.deperr

./gc_coverage_bias -r ./ref/human.fa -o testA_soap -w 100,150,200 testA_soap.depth



### InDel Profile ###
./indelstat_sam_bam 110416_I327_FCB008GACXX_L1_PHIXCONTROLv2.sam.gz phixv2
